@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

#mapdiv {
    margin: auto;
}

.btn {
    background-color: #2BB031;
    padding: 8px 18px;
    border: none;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.container {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-receive {
    display: flex;
    background-color: #F7F8FC;
    /* padding: 25px 100px; */
}

.send-receive p{
    color: #151450;
    font-weight: 600;
    font-size: 1.3em;
    margin: 5px;
}

.send {
    text-align: right;
    padding: 25px;
}

.receive {
    padding: 25px;
    text-align: left;
}

small {
    color: grey;
}

.mt-4 {
    margin-top: 2.5rem;
}

.mt-2 {
    margin-top: 1.5rem;
}

#tags {
    margin-top: 1rem;
}

#tags li {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

#tags img {
    position: relative;
    top: 3px;
    left: 3px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 10px 10px 0px rgba(51, 51, 51, .1);
}

button a{
    text-decoration: none;
    color: inherit;
}

  .full-name {
      display: flex;
  }

  .full-name > div {
      margin-right: 10px;
  }

  input[type="text"], input[type="tel"], input[type="email"], input[type="search"], input[type="password"], input[type="url"], textarea, span.jcf-select {
    font-size: 12px;
    line-height: 17px;
    outline: none;
    border: 1px solid #e0e0e3;
    padding: .625rem 1.1875rem;
    color: #626375;
    border-radius: .25rem;
    box-shadow: none;
    -webkit-appearance: none;
    font-weight: 300;
}

.full input, .full textarea {
    width: 100%;
}

.slidecontainer {
  width: 1000px;
  position: relative;
  z-index: 2;
  background: #E8EAF1;
  border-radius: 5px;
}

.slider {
  --min: 0;
  --max: 2500;
  --val: 500;
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(.5*1.5em + var(--ratio)*(100% - 1.5em));
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: -webkit-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 200px) no-repeat 50% 50%;
  background: -moz-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 200px) no-repeat 50% 50%;
  background: repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 200px) no-repeat 50% 50%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url('images/slider.svg');
  /* background: #4CAF50; */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slidecontainer:after {
  position: absolute;
  color: #777;
  content: '1-500 500-1000 1000-1500 2000+';
  padding: 40px;
  word-spacing: 134px;
  left: 140px;
  top: 0px;
  z-index: -1;
}

.output {
  position: relative;
  top: 50px;
}

.slider::-moz-range-progress{
  background: red;
  height: 100%;
  border-radius: 5px;
}

.slider::-webkit-progress-value{
  background: orange;
}

.slider::-moz-range-progress { 
  background: orange; height: 10px; 
}
.slider::-ms-fill-lower { 
  background: orange; height: 10px;
}

 .slider::-webkit-slider-runnable-track {
   background: linear-gradient(#2BB031, #2BB031) 0/ var(--sx) 100% no-repeat #ccc;
   border-radius: 5px;
}